# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# Hugging face hub
huggingface_hub

# pytorch
torch
tensorflow

# langchain community
langchain_community

# local hugging face
hf_xet

# transformer
sentence-transformers

# draw graph
grandalf

# bs4
bs4